@use 'variables'

@mixin full-container
    width: 100vw
    height: auto

@mixin nav-container
    height: 5rem

@mixin button
    width: 8rem
    height: 2rem
    padding: 1rem
    display: flex
    justify-content: space-evenly
    align-items: center
    border: 0
    font-family: variables.$font-stack
    cursor: pointer

@mixin cards
    width: 17rem
    height: auto
    border-radius: 5px

@mixin flex-center
    display: flex
    align-items: center
    justify-content: center

@mixin flex-start
    display: flex
    justify-content: flex-start

@mixin flex-space-around
    display: flex
    justify-content: space-around
    align-items: center
    
@mixin flex-space-between
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 2rem

@mixin flex-column
    display: flex
    flex-direction: flex-column

@mixin flex-wrap
    display: flex
    flex-wrap: wrap

@mixin dark
    .navbar-container, .dark button, .cards
        background-color: variables.$dark-mode-elements
        color: variables.$dark-mode-text

    .main_container
        background-color: variables.$dark-mode-background
        color: variables.$dark-mode-text  

    .individual_card
        box-shadow: none 

@mixin light
    .cards
        background-color: variables.$light-mode-elements
        color: variables.$light-mode-text

@mixin shadow 
    -webkit-box-shadow: 0px 9px 45px -4px rgba(227, 227, 227, 0.92)
    box-shadow: 0px 9px 45px -4px rgba(227, 227, 227, 0.92)

    





